node_modules
package.json
package_lock.json
# Keep environment variables out of version control
.env

/generated/prisma

../meowlarat-fe/node_modules
../meowlarat-fe/package.json
../meowlarat-fe/package_lock.json